<!-- This include replaces the headings -->
<%- include('partials/head') %>

    <body>
        <!-- This include method is for the navbar -->
        <%- include('partials/navbar') %>

            <h1>Home EJS Class <%= "(This is EJS Interpolation Syntax Class)" %>
            </h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem recusandae nobis quisquam sed
                fuga alias
                cum totam consequuntur voluptate, voluptatum rerum, beatae minus provident quo! Iusto explicabo rem unde
                temporibus.

            </p>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem recusandae nobis quisquam sed
                fuga alias
                cum totam consequuntur voluptate, voluptatum rerum, beatae minus provident quo! Iusto explicabo rem unde
                temporibus.

            </p>
    </body>
    <%- include('partials/footer') %>

   