<%- include('partials/head') %>

    <body>
        <!-- This include method is for the navbar -->
        <%- include('partials/navbar') %>

            <h1>Your random number# is: <%= rand %>
            </h1>
    </body>
    <%- include('partials/footer') %>
 